.Card {
  background: #e6e4c7;
  padding: 4px;
}

@media (min-width: 780px) {
 .Card {
    box-shadow: 0 4px 6px rgba(230,228,199,0.11), 0 1px 3px rgba(0,0,0,0.08);
    border: 1px solid #e6e4c7;
    border-radius: 4px;
  }
}