.App-header {
  height: 86px;
  display: flex;
  place-content: center center;
  padding: 0 24px;
  background: #e6e4c7;
  box-shadow: 0 4px 6px rgba(230, 228, 199, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.App-name {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  line-height: 46px;
}

.App-main {
  display: grid;
}

.App-calculate-button {
  position: fixed;
  bottom: 16px;
  width: 80%;
  right: 10%;
  left: 10%;
}

@media (min-width: 780px) {
  .App-header {
    place-content: center start;
  }
  .App-main {
    margin: 12px;
    margin-bottom: 80px;
  }
}