@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightyellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  background: #e6e4c7;
  padding: 8px;
  border-bottom: 1px solid #aaa;
  border-inline-end: 1px solid #aaa;
}

th:last-of-type, td:last-of-type {
  border-inline-end: none;
}

tr:last-of-type td, tr:last-of-type {
  border-bottom: none;
}

select {
  font-family: 'Cairo', sans-serif;
  min-width: 100px;
  width: 100%;
  padding: 4px;
  border: none;
  background: #fff;
}